SAP_USER=usuario_sap
SAP_PASSWORD=password_sap
SAP_COMPANYDB=base_de_datos

API_BASE_URL=https://proxysap.dominio.com/b1s/v1

EMAIL_HOST=mail.dominio.com.ar
EMAIL_PORT=465
EMAIL_USER=correo@dominio.com.ar
EMAIL_PASS=password_de_correo

EMAIL_RECIPIENT1=destinatario1@dominio.com.ar
EMAIL_RECIPIENT2=destinatario2@dominio.com.ar
EMAIL_RECIPIENT3= ""
EMAIL_RECIPIENT4= ""
EMAIL_RECIPIENT5= ""
EMAIL_RECIPIENT6= ""
EMAIL_RECIPIENT7= ""