# Dependencias
node_modules/

# Variables de entorno (¡CRÍTICO!)
.env

# Archivos de logs
*.log
automation_hogar_merchandise_entry_log.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema operativo
.DS_Store
Thumbs.db